@import '../index';

.div__footer {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    .div__footer_main {
        width: 120vh;
        display: flex;
        padding: 40px 60px 40px 60px;
        justify-content: center;
        align-items: center;
        gap: 60px;
        .div__section {
            display: flex;
            flex-direction: column;
            color: #F8F8F8;
            width: 300px;
            span {
                font-size: 20px;
            }
        }
    }
}