@import '../index';

.div__nav_main {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    .div__category_box {
        display: flex;
        padding: 20px 40px 25px 40px;
        align-items: center;
        .span__category {
            margin: 0 20px 0 20px;
            font-size: 22px;
            transition: 0.2s ease-in-out;
            cursor: pointer;
            &.main {
                font-size: 40px;
            }
            .Link__link {
                text-decoration: none;
                color: $black;
                &:hover {
                    color: #1c97d4;
                }
            }
        }
    }
}