.div__sale {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    .div__sale_main {
        width: 60vh;
        .div__section {
            display: flex;
            align-items: center;
            gap: 20px;
            padding: 30px;
        }
    }
    .div__wave {
        position: absolute;
        z-index: -1;
        top: 750px;
        width: 100%;
        img {
            width: 100%;
        }
    }
}