@import '../index';

body {
    background-color: #1c97d4;
    background-image: url('../../assets/background.jpg');
    background-repeat: no-repeat;
    background-size: 100% 1200px;
    overflow-x: hidden;
}
.div__main_box {
    .div__tires {
        position: absolute;
        display: flex;
        width: 245px;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
        bottom: 25vh;
        left: 1vh;
        right: 0;
        z-index: 10;
        img {
            transition: 4s ease-in-out;
        }
    }
    .div__car {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
        bottom: 18vh;
        z-index: 9;
    }
    .div__road {
        display: flex;
        width: 5500px;
        margin-top: 19vh;
        margin-bottom: 10px;
        transition: 4s ease-in-out;
        z-index: -1;
        .div__white_space {
            height: 10px;
            width: 100px;
            background-color: $white;
            margin: 5px;
        }
    }
    .div__title_box {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30vh;
        .span__title {
            color: $white;
            text-shadow: 4px 4px 6px rgba(66, 68, 90, 1);
            font-size: 140px;
            font-weight: 700;
        }
    }
}